html {
  background-color: black;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  border-radius: 20px;
}

ul {
    list-style-type: none;
    margin: 2;
    border-radius: 20px;
    padding: 0;
    overflow: hidden;
    background-color: #012;
    font-size: 14px;
    text-align: center;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Change the link color to #111 (black) on hover */
  li a:hover {
    background-color: #123;
    border-radius: 20px;
  }
  

h1,h2,h3,h4,h5,h6,title,button,label {
    color: rgb(145, 145, 145);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

input {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  border-radius: 10px;
  background-color: #012;
  border-color: #123;
  text-align: center;
  color: white;
  font-size: 14px;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: black;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #333;
  border-radius: 2px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
  border-radius: 2px;
}

div {
  margin: 5px;
}

.btn-group button {
  background-color: #012;
  border: 1px #123; 
  color: white; 
  padding: 10px 24px; 
  cursor: pointer; 
  float: left; 
  border-radius: 20px;
}

button {
  background-color: #012; 
  border: 1px #123; 
  color: white; 
  padding: 10px 24px;
  cursor: pointer; 
  float: left; 
  border-radius: 20px;
}

.btn-group button:not(:last-child) {
  border-right: none; /* Prevent double borders */
}

/* Clear floats (clearfix hack) */
.btn-group:after {
  content: "";
  clear: both;
  display: table;
}

/* Add a background color on hover */
.btn-group button:hover {
  background-color: #123;
}

.btn-group button:selection {
  border-color: white;
  user-select: auto;
}

.tds-option_group {
  border: 5px;
  border-color: white;
  border-radius: 20px;
  color: white;
  align-items: center;
  vertical-align: 100px;
  float: left;
  margin: 20px;
}

.tds-option_group1 {
  border: 5px;
  border-color: white;
  border-radius: 20px;
  color: white;
  align-items: center;
  vertical-align: 100px;
}

div2 {
  margin: 20px;
  text-shadow: #555;
}