html {
  background-color: black;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

ul {
    list-style-type: none;
    margin: 2;
    border-radius: 20px;
    padding: 0;
    overflow: hidden;
    background-color: #012;
    font-size: 14px;
    text-align: center;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Change the link color to #111 (black) on hover */
  li a:hover {
    background-color: #123;
    border-radius: 20px;
  }
  

h1,h2,h3,h4,h5 {
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

input {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  border-radius: 10px;
  background-color: #012;
  border-color: #123;
  text-align: center;
  color: white;
  font-size: 14px;
}